.section-filter     
        .section-filter__inner
            .section-filter__top-mobile.js-top-mobile
                .container
                    .section-filter__top-mobile-inner
                        img(src="assets/images/filter-mobile-icon.png", alt="").section-filter__top-mobile-img
                        span.section-filter__top-mobile-text Фильтр
            form.section-filter__form.js-filter-form
                .container
                    .section-filter__head                     
                        .section-filter__item.filter-price 
                            span.section-filter__text Цена
                            .section-filter__inputs
                                .section-filter__inputs-top
                                    input(type="text" value="0").section-filter__inputs-top-input.js-input-from
                                    .section-filter__inputs-top-line 
                                    input(type="text" value="0").section-filter__inputs-top-input.js-input-to
                                .section-filter__inputs-main
                                    input(type="text" data-min="0" data-max="600000" data-from="23000" data-to="299000").section-filter__inputs-main-input.js-input-main
                                    //- .section-filter__inputs-main-circle
                                    //- .section-filter__inputs-main-circle
                        .section-filter__item.filter-size
                            span.section-filter__text Размер
                            .section-filter__input-size
                                    input(type="text").section-filter__inputs-size-input.js-input-size
                                    //- .section-filter__inputs-size-circle
                                    //- .section-filter__inputs-size-circle
                        .section-filter__item.filter-orientation
                            span.section-filter__text Ориентация
                            .section-filter__inputs-orientation
                                .section-filter__inputs-orientation-label 
                                    input(type="checkbox" name="square" id="square").section-filter__inputs-orientation-input
                                    label(for="square")
                                .section-filter__inputs-orientation-label 
                                    input(type="checkbox" name="vertical" id="vertical").section-filter__inputs-orientation-input
                                    label(for="vertical")
                                .section-filter__inputs-orientation-label 
                                    input(type="checkbox" name="horizontal" id="horizontal").section-filter__inputs-orientation-input
                                    label(for="horizontal")
                        .section-filter__head-buttons 
                            a(href="#").section-filter__btn-reset Сбросить фильтр
                                +svg('sbros-filter', 'reset', 'reset') 
                            a(href="#").section-filter__btn-roll.js-roll-btn Развернуть фильтр
                        
                .section-filter__tabs
                    a(href="#").section-filter__tabs-btn-roll.js-roll-btn Развернуть фильтр
                    .section-filter__tabs-inner
                        .container
                            .section-filter__tabs-head.js-tabheader__parent 
                                span.section-filter__tabs-title.js-tabheader__item Автор
                                span.section-filter__tabs-title.js-tabheader__item Жанр
                                span.section-filter__tabs-title.js-tabheader__item Цвет
                                span.section-filter__tabs-title.js-tabheader__item Тема
                                span.section-filter__tabs-title.js-tabheader__item Материал
                                span.section-filter__tabs-title.js-tabheader__item Стиль
                        .section-filter__tabs-main
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Автор
                            .section-filter__tabs-main-content.select-color-mobile.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner.select-inner
                                        span.section-filter__tabs-main-content-text Начнитев водить имя или фамилию автора
                                        .section-filter__tabs-main-item-select 
                                            select(multiple="multiple").section-filter__tabs-main-select.js-select-catalog
                                                optgroup(label="A")
                                                    option(value="A1") Вариант А1                              
                                                    option(value="A2") Вариант А2                              
                                                    option(value="A3") Вариант А3
                                                optgroup(label="В")
                                                    option(value="В1") Вариант В1                              
                                                    option(value="В2") Вариант В2                              
                                                    option(value="В3") Вариант В3
                                                optgroup(label="С")
                                                    option(value="С1") Вариант С1                              
                                                    option(value="С2") Вариант С2                              
                                                    option(value="С3") Вариант С3 
                                    .section-filter__options-drop 
                                            .section-filter__options-drop-item
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Жанр
                            .section-filter__tabs-main-content.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="G1")
                                            label(for="G1") Жанр1
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="G2")
                                            label(for="G2") Жанр2
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="G3")
                                            label(for="G3") Жанр3
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Цвет
                            .section-filter__tabs-main-content.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="С1")
                                            label(for="С1") Цвет1
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="С2")
                                            label(for="С2") Цвет2
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="С3")
                                            label(for="С3") Цвет3
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Тема
                            .section-filter__tabs-main-content.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="T1")
                                            label(for="T1") Тема1
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="T2")
                                            label(for="T2") Тема2
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="T3")
                                            label(for="T3") Тема3
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Материал
                            .section-filter__tabs-main-content.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="M1")
                                            label(for="M1") Материал1
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="M2")
                                            label(for="M2") Материал2
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="M3")
                                            label(for="M3") Материал3
                            span.section-filter__tabs-main-title.js-tabheader__item-mobile Стиль
                            .section-filter__tabs-main-content.js-tabcontent
                                .container
                                    .section-filter__tabs-main-content-inner
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="S1")
                                            label(for="S1") Стиль1
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="S2")
                                            label(for="S2") Стиль2
                                        .section-filter__tabs-main-item
                                            input(type="radio" class="js-radio-checked" id="S3")
                                            label(for="S3") Стиль3
                    .section-filter__button-mobile
                        .container
                            a(href="#").section-filter__btn Показать картины
                                                         


