.section-news {
    padding-top: 20px;
    padding-bottom: 50px;
    @media (max-width: $tablet) {
        padding: 0;
    }
    @media (max-width: $tablet) {
        margin-top: 85px;
    }
    &__item {
        width: calc(100% / 2 - 40px);
        // margin: 0 20px;
        @media (max-width: $tablet) {
            width: 100%;
            margin: 0;
        }
    }
    &__item-inner {
        display: flex;
        align-items: flex-start;
        margin: 0 20px;
        @media (max-width: $mobile) {
            display: block;
            margin: 0;
        }
    }
    &__item-img-link {
        display: block;
        margin-right: 20px;
        flex-shrink: 0;
        @media (max-width: $mobile) {
            margin-right: 0;
        }
    }
    &__item-img {
        max-width: 144px;
        height: 144px;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
        margin-right: 20px;
        @media (max-width: $mobile) {
            max-width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    &__content {
        position: relative;
        width: 100%;
        a {
            display: block;
        }
    }
    &__theme {
        font-size: 14px;
        font-weight: 600;
        color: #2e3237;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        position: relative;
        margin-bottom: 25px;
        text-transform: uppercase;
        @media (max-width: $mobile) {
            font-size: 12px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            background: #2e3237;
            left: 0;
            bottom: -1px;
            transition: width 0.5s ease 0s;
        }
        &:hover {
            color: #009999;
            &:before {
                width: 100%;
            }
        }
    }
    &__date {
        font-size: 14px;
        position: absolute;
        display: block;
        right: 0;
        top: 5px;
        @media (max-width: $mobile) {
            font-size: 12px;
            position: static;
            margin-bottom: 15px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 29px;
        margin-bottom: 25px;
        transition: 0.3s;
        @media (max-width: $mobile) {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 20px;
        }
        &:hover {
            color: #009999;
            text-decoration: underline;
        }
    }
    &__text {
        font-size: 17px;
        line-height: 24px;
        color: #2e3237;
        margin-bottom: 20px;
        @media (max-width: $mobile) {
            font-size: 15px;
        }
    }
    &__btn {
        font-weight: 600;
        line-height: 34px;
        color: #333;
        transition: 0.3s;
        position: relative;
        vertical-align: middle;
        &:hover {
            color: #009999;
            .arrow {
                fill: #009999;
            }
        }
       .arrow {
           width: 36px;
           height: 10px;
           vertical-align: middle;
           margin-left: 15px;
           transition: 0.3s;
       }
    }

    .slick-prev {
        background: none;
        border: none;
        position: absolute;       
        right: 60px; 
        @media (max-width: $mobile) {
            right: calc(50% + 5px) !important;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url('../assets/images/arrow-icon.png') !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
        &:hover {
            &::before {
            filter: invert(100%); 
            } 
        }                
        
    }
    .slick-next {
        background:none;
        border: none;         
        position: absolute;   
        right: 0px;   
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url('../assets/images/arrow-icon.png') !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            transform: rotate(180deg); 
        }
        &:hover {
            &::before {
            filter: invert(100%); 
            } 
        }
           
    }
    .slick-arrow {
        width: 56px;
        height: 56px;
        font-size: 0;
        cursor: pointer; 
        border-radius: 50%;  
        transition: 0.3s;
        background: #fff;
        top: -135px;        
        &:hover {
            background-color: #1e2026 ;
        }   
        @media (max-width: $tablet) {
            top: -155px;
        }  
        @media (max-width: $mobile) {
            top: -74px;
            right:  calc(50% - 56px);
        } 
    }
    
}