.section-news
    .container 
        .section-news__carousel.js-news-slider
            .section-news__item
                .section-news__item-inner 
                    a(href="").section-news__item-img-link 
                        img(src="assets/images/news-imgmobile-example-main.jpg", alt="").section-news__item-img 
                    .section-news__content 
                        a(href="#").section-news__theme ГАЛЕРЕИ И ВЫСТАВКИ
                        span.section-news__date 21.12.2018 
                        a(href="#").section-news__title Обзор нашего экспетра ФИО
                        a(href="#").section-news__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                        a(href="#").section-news__btn Смотреть и читать 
                            +svg('arrow-smart', 'smart', 'arrow') 
            .section-news__item
                .section-news__item-inner
                    a(href="").section-news__item-img-link 
                        img(src="assets/images/news-img1-main.jpg", alt="").section-news__item-img 
                    .section-news__content 
                        a(href="#").section-news__theme Коллекционирование
                        span.section-news__date 21.12.2018 
                        a(href="#").section-news__title Обзор нашего экспетра ФИО
                        a(href="#").section-news__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                        a(href="#").section-news__btn Смотреть и читать 
                            +svg('arrow-smart', 'smart', 'arrow') 
            .section-news__item
                .section-news__item-inner 
                    a(href="").section-news__item-img-link
                        img(src="assets/images/news-imgmobile-example-main.jpg", alt="").section-news__item-img 
                    .section-news__content 
                        a(href="#").section-news__theme ГАЛЕРЕИ И ВЫСТАВКИ
                        span.section-news__date 21.12.2018 
                        a(href="#").section-news__title Обзор нашего экспетра ФИО
                        a(href="#").section-news__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                        a(href="#").section-news__btn Смотреть и читать 
                            +svg('arrow-smart', 'smart', 'arrow') 
            .section-news__item
                .section-news__item-inner
                    a(href="").section-news__item-img-link 
                        img(src="assets/images/news-img1-main.jpg", alt="").section-news__item-img 
                    .section-news__content 
                        a(href="#").section-news__theme Коллекционирование
                        span.section-news__date 21.12.2018 
                        a(href="#").section-news__title Обзор нашего экспетра ФИО
                        a(href="#").section-news__text Теперь чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.
                        a(href="#").section-news__btn Смотреть и читать 
                            +svg('arrow-smart', 'smart', 'arrow')                    

