.breadcrumbs
    .container 
        .breadcrumbs__inner 
            a(href="").breadcrumbs__back 
                +svg('arrow-smart', 'smart', 'smart')
                span.breadcrumbs__back-link Назад
            .breadcrumbs__group 
                a(href="#").breadcrumbs__group-link Главная
                a(href="#").breadcrumbs__group-link Каталог    
                a(href="#").breadcrumbs__group-link Каталог    