.section-tutorial  
    .container 
        .section-tutorial__inner
            .section-tutorial__video.js-tutorial-video(data-id="AgpWX18dby4")                 
                .section-tutorial__text 
                    span.section-tutorial__text-content Видеобзор нашего ресурса возможности для пользователя
            .section-tutorial__article
                a(href="#") 
                    img(class="section-tutorial__article-img" src="assets/images/note-img-main.jpg", alt="note-img")
                a(href="#" class="section-tutorial__article-heading") 
                    span.section-tutorial__article-heading-text Выбор экспертов 
                a(href="#" class="section-tutorial__article-title")
                    span.section-tutorial__article-title-text Обзор нашего экспетра Элеоноры ФИО 

                