.section-tutorial {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $mobile) {
            display: block;
        }
    }
    &__video {
        width: 62.7%;
        margin-right: 60px;
        background-image: url("../assets/images/video-img-main.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        padding-top: 35%;
        // padding-top: 55.5%;
        cursor: pointer;
        overflow: hidden;
        // &.is-active {
        //     background-image:none;
        //     &::after,
        //     &::before {
        //         display: none;
        //     }
        //     .tutorial__text {
        //         display: none;
        //     }
        // }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 70px;
            height: 70px;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 1px solid #fff;
            border-radius: 50%;
            background-image: url("../assets/images/play.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;
            @media (max-width: $mobile) {
                width: 60px;
                height: 60px;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;                
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: inherit;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: 0.5s linear 0s;
            transform: scale(1);
        }
        &:hover {
            &::before {
                transform: scale(1.1);
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
            padding-top: 56.25%;
            margin-bottom: 35px;
        }   
    } 

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        z-index: 700;
    }

    &__text {
        width: 100%;
        position: absolute;
        color: #fff;
        bottom: 0px;
        padding: 40px;
        background-image: linear-gradient(to top, #000 0%, transparent 100%);
        @media (max-width: $tablet) {
            padding: 27px;
        }
        @media (max-width: $mobile) {
            padding: 10px;
        }
        &-content {
            font-size: 25px;
            font-weight: 600;
            line-height: 29px;
            @media (max-width: $tablet) {
                font-size: 17px;
                line-height: 22px;
            }
        }
    }
    &__article {
        width: calc(37.3% - 60px);
        @media (max-width: $mobile) {
            width: 100%;
        }

        &-img {
            width: 100%;
            margin-bottom: 22px;
            @media (max-width: $mobile) {
                margin-bottom: 15px;
            }
        }

        &-heading {
            width: 100%;
            display: block;
            padding-bottom: 18px;
            margin-bottom: 25px;
            border-bottom: 1px solid #ccc;
            position: relative;
            @media (max-width: $mobile) {
                padding-bottom: 10px;
                margin-bottom: 15px;
            }
            // &::before {
            //     content: '';
            //     display: block;
            //     position: absolute; 
            //     bottom: -1px;
            //     left: 0;
            //     width: 40px;
            //     height: 1px;
            //     background: #000;                
            //     transition: width 0.3s;
            // }
            // &:hover {
            //     &::before {
            //         width: 100%;
            //     }
            // }

            &-text {
                font-size: 14px;
                font-weight: 600;
                color: #2e3237;
                text-transform: uppercase;
                @media (max-width: $mobile) {
                    font-size: 12px;
                }
               
            }
        }
        &-title {
            font-size: 19px;
            font-weight: 600;
            position: relative;
            &:hover {
                text-decoration: underline;
            }
            @media (max-width: $mobile) {
                font-size: 15px;
            }
            &::before {
                content: '';
                display: block;
                position: absolute; 
                top: -24px;
                left: 0;
                width: 40px;
                height: 1px;
                background: #000;                
                transition: width 0.3s;
                @media (max-width: $mobile) {
                    top: -15px;
                }
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
            
        }
    }
    
}
.popup-video {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.7);
    padding: 10px 10px;
    display: none;
    &.is-active {
        display: flex;
    }
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 30px;
        right: 20px;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 4px;
        transform: rotate(45deg);
        cursor: pointer;
        z-index: 1101;
        @media (max-width: $mobile) {
            // width: 20px;
            right: 15px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 30px;
        right: 20px;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 4px;
        transform: rotate(-45deg);
        cursor: pointer;
        z-index: 1101;
        @media (max-width: $mobile) {
            // width: 20px;
            right: 15px;
        }
    }

    &__wrapper {
        margin: auto;
        position: relative;
    }
    &__inner {
        position: relative;
        margin: 0 auto;
        width: 75vw;
        padding-top: 56.25%;
        overflow: hidden;
        @media (max-width: $tablet) {
            width: 90vw;
        }
    }
} 

iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1100;
}


