.header {
    background: rgba(0, 0, 0, 0.8);
    // padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    @media (max-width: $mobile) {
        background: #fff;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    }

    .icon {
        fill: #fff;
        max-width: 22px;
        max-height: 22px;
        vertical-align: middle;

        @media (max-width: $mobile) {
            fill: #333;
        }
    }

    button {
        background: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;

        @media (max-width: $mobile) {
            height: 55px;
        }
    }

    &__logo {
        color: #fff;
        font-size: 24px;
        vertical-align: middle;

        & span:first-child {
            font-weight: 900;
        }

        @media (max-width: $mobile) {
            display: none;
        }

    }

    &__mobile-logo {
        display: none;
        vertical-align: middle;

        .logo-mobile {
            color: #000;
            font-size: 24px;

            & span:first-child {
                font-weight: 900;
            }
        }

        @media (max-width: $mobile) {
            display: inline-block;
        }
    }

    &__burger {
        display: none;
        cursor: pointer;
        transition: 0.3s;
        margin-right: 25px;
        vertical-align: middle;
        position: relative;
        &::before {
            visibility: hidden;
            opacity: 0;
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            bottom: -40px;
            right: 50%;
            transform: rotate(45deg) translateX(50%);
            background: #fff;
            box-shadow: 0px 0px 20px 0px rgbа(0, 0, 0, 0.2);
            transition: 0.1s;
            z-index: 777;
            
        }

        &-line {
            background: #fff;
            width: 18px;
            height: 2px;
            transition: 0.3s;

            @media (max-width: $mobile) {
                background: #000;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &.is-active {
            display: inline-block;
            &::before{
                @media (max-width: $tablet) {
                    visibility: visible;
                    opacity: 1;
                }
                @media (max-width: $mobile) {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .header__burger-line {
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(1) {
                    margin-bottom: 0;
                    position: relative;
                    top: 2px;
                    transform: rotate(45deg);
                    transition: 0.3s;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    transition: 0.3s;
                }
            }
        }

        @media (max-width: $tablet) {
            display: inline-block;
        }
    }

    &__menu {
        &-item {
            display: inline-block;
            padding: 20px 0;
        }

        &-link,
        &-drop-link {
            line-height: 40px;
            padding: 0 27px;
            display: inline-block;
            transition: 0.3s;

            &:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
            }
        }

        &-link {
            color: #fff;
        }

        &-drop-link {
            color: #333;
        }

        &-drop {
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
            position: absolute;
            background: #fff;
            top: 100%;
            left: 0;
            right: 0;
            padding: 20px 0;
            z-index: 555;
            
        }

        &-item {
            .link-drop {



                position: relative;

                &::after {
                    content: '';
                    border-style: solid;
                    border-width: 2px 2px 0 0;
                    border-color: #fff;
                    display: inline-block;
                    height: 7px;
                    position: relative;
                    vertical-align: middle;
                    width: 7px;
                    top: -2px;
                    transform: rotate(135deg);
                    margin-left: 10px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    // width: 20px;
                    // height: 20px;
                    bottom: -21px;
                    right: 50%;
                    border-bottom: 13px solid #ffffff;
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    transform: translateX(50%);
                    // background: #fff;
                    transition: 0.3s ease 0s;
                    opacity: 0;
                    visibility: hidden;

                }



            }


            &:hover {
                & .header__menu-drop {
                    visibility: visible;
                    opacity: 1;
                }

                .link-drop::before {
                    opacity: 1;
                    visibility: visible;

                }
            }




        }



        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__tools {
        display: flex;
        align-items: center;

        &-link {
            padding: 10px 15px;
            position: relative;
            line-height: 40px;
        }

        &-item {
            &:hover {
                background: rgba(0, 0, 0, 0.8);

                @media (max-width: $mobile) {
                    background: none;
                }
            }
        }

        .tools-favorite,
        .tools-cart {
            .header__tools-link {
                padding-right: 35px;

                @media (max-width: $mobile) {
                    padding-right: 20px;
                }
            }
        }

        .tools-lang {
            font-size: 18px;
            color: #fff;

            @media (max-width: $mobile) {
                color: #000;
                display: none;
            }
        }

        .tools-search {
            .header__tools-link {
                @media (max-width: $mobile) {
                    padding-right: 0;
                }
            }
        }

        &-item-counter {
            font-size: 13px;
            line-height: 16px;
            padding: 0 5px;
            background: #666;
            border-radius: 10px;
            position: absolute;
            top: 10px;
            left: 30px;
            text-align: center;
            color: #fff;
        }

        .tools-user {
            position: relative;
            & .header__tools-link {
                @media (max-width: $mobile) {
                    padding: 10px 0;
                }
            }

            &-icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-image: url("../assets/images/user-bg.png");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: inherit;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    display: block;
                    z-index: 1;
                    border-radius: 50%;
                }

                .user {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            span {
                color: #fff;
                margin-left: 10px;

                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }

    &__mobile-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        width: 100%;
        max-width: 100%;
        background: #fff;
        box-shadow: 0px 0px 5px 0px rgbа(0, 0, 0, 0.2);
        margin-left: -20px;
        transition: 0.3s;
        z-index: 777;
        @media (max-width: $mobile) {
            max-width: calc(100% - 10px);
            width: auto;
        }
        &-drop {
            padding: 23px 0;
            @media (max-width: $mobile) {
                padding: 23px;
            }
        }
        &-drop-inner-group {
            padding: 0;
            display: inline-block;
            &:last-child {
                .header__mobile-menu-drop-link:last-child {
                    display: none;
                }
            }
            @media (max-width: $mobile) { 
                display: block;
                padding: 12px 0;
                &:first-child {
                    padding-top: 0;
                    margin-bottom: 0;
                    border-bottom: 1px solid #ccc;
                }
                &:last-child {
                    .header__mobile-menu-drop-link:last-child {
                        display: block;
                    }
                }
            }
        }

        &-drop-link {
            display: inline-block;
            color: #2e3237;
            line-height: 45px;
            font-size: 15px;
            padding: 0 20px;
            transition: 0.3s;
            @media (max-width: $mobile) { 
                display: block;
            }
            &:hover {
                background: #333;
                color: #fff;
            }
        }

        &-drop-copyright {
            display: none;
            background: #ccc;
            color: #333;
            padding: 20px 0;
            text-align: center;
            @media (max-width: $mobile) { 
                display: block;
            }
            .menu-copyright {
                font-size: 12px;
                font-weight: 300; 
                text-align: center;              
            }
        }

        &.is-active {
            opacity: 1;
            visibility: visible;
        }

    }

    .tools-search__form {
        background: #9febeb;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 35px 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 775;

        @media (max-width: $mobile) {
            padding: 16px 0;
        }

        &-field {
            width: 900px;
            max-width: 100%;
            margin: auto;
            position: relative;
        }

        &-input {
            width: 100%;
            height: 70px;
            border: none;
            padding-left: 25px;
            padding-right: 125px;
            color: #666;
            font-size: 24px;
            font-weight: 300;

            @media (max-width: $mobile) {
                height: 38px;
                padding-left: 12px;
                padding-right: 80px;
                font-size: 16px;
            }
        }

        &-reset,
        &-submit {
            position: absolute;
            cursor: pointer;
            padding: 0;
            top: 0;
            right: 25px;
            bottom: 0;

            @media (max-width: $mobile) {
                right: 16px;
            }

            .icon {
                fill: #666;
                max-width: 25px;
                max-height: 25px;
                width: 100%;

                @media (max-width: $mobile) {
                    max-width: 16px;
                    max-height: 16px;
                }
            }
        }

        &-reset {
            right: 75px;

            @media (max-width: $mobile) {
                right: 48px;
            }
        }
    }

    .tools-search.is-active {
        .tools-search__form {
            opacity: 1;
            visibility: visible;
        }
    }

    .tools-user__drop {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(100% + 19px);
        background: #fff;
        width: 275px;
        padding: 23px;
        right: 50%;
        transform: translateX(50%);
        color: #2e3237;
        box-shadow: 0px 0px 20px 0px rgbа(0, 0, 0, 0.2);
        transition: 0.3s ease 0s;
        z-index: 777;
        @media (max-width: $mobile) {
            top: calc(100% + 7px);
        }
        &-group {
            &:nth-child(2) {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 12px 0;
            }
            &:nth-child(1) {
                margin-bottom: 12px;
            }
            &:nth-child(3) {
                margin-top: 12px;
                position: relative;
                .tools-user__drop-group-link {
                    padding: 0 30px;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        background-image: url("../assets/images/exit-user.png");
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 24px;
                        height: 18px;
                        bottom: 50%;
                        transform: translateY(50%);
                        left: 0;
                    }
                    &:hover {
                        &::before {
                            filter: invert(100%);
                        }
                    }
                }
            }

            &-link {
                display: block;
                line-height: 45px;
                padding: 0 20px;
                &:hover {
                    background: #333;
                    color: #fff;
                }
            }
        }
    }
    .tools-user {
        &::before {
            display: block;
            content: '';
            position: absolute;
            // width: 20px;
            // height: 20px;
            border-bottom: 13px solid #ffffff;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            bottom: -20px;
            right: 50%;
            transform:  translateX(50%);
            // background: #fff;
            box-shadow: 0px 0px 20px 0px rgbа(0, 0, 0, 0.2);
            transition: 0.3s ease 0s;
            opacity: 0;
            visibility: hidden;
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    .tools-user:hover {
        .tools-user__drop {
            opacity: 1;
            visibility: visible;
        }
        &::before {
            opacity: 1;
            visibility: visible;            
        }
        
    }
}