header.header
    .container
        .header__inner 
            .header__group
                .header__burger.js-burger 
                    .header__burger-line
                    .header__burger-line
                    .header__burger-line
                .header__mobile-menu.js-mobile-menu                    
                    .header__mobile-menu-drop 
                        .container 
                            .header__mobile-menu-drop-inner 
                                .header__mobile-menu-drop-inner-group
                                    a(href="/Painting-shop/catalog.html" class="header__mobile-menu-drop-link") Каталог 
                                    a(href="/Painting-shop/product-card.html" class="header__mobile-menu-drop-link") Художникам 
                                    a(href="#" class="header__mobile-menu-drop-link") Блог 
                                    a(href="#" class="header__mobile-menu-drop-link") О проекте
                                    a(href="#" class="header__mobile-menu-drop-link") Доставка
                                .header__mobile-menu-drop-inner-group
                                    a(href="#" class="header__mobile-menu-drop-link") Политика конфиденциальности
                                    a(href="#" class="header__mobile-menu-drop-link") Английская версия
                    .header__mobile-menu-drop-copyright 
                        span.menu-copyright ©  Company, 2020 copy
                
                a(href="#" class="header__logo") 
                    span Company1
                    span Company2 
                .header__mobile-logo                     
                    a(href="#" class="logo-mobile") 
                        span C1
                        span C2          
            
                
            .header__menu
                .header__menu-item 
                    a(href="/Painting-shop/catalog.html" class="header__menu-link") Каталог 
                .header__menu-item 
                    a(href="/Painting-shop/product-card.html" class="header__menu-link") Художникам 
                .header__menu-item 
                    a(href="#" class="header__menu-link") Блог
                .header__menu-item 
                    a(href="#" class="header__menu-link link-drop") Еще
                    .header__menu-drop 
                        .container 
                            .header__menu-drop-inner                             
                                a(href="#" class="header__menu-drop-link") О проекте
                                a(href="#" class="header__menu-drop-link") Доставка
                                a(href="#" class="header__menu-drop-link") Политика конфиденциальности
            .header__tools 
                .header__tools-item.tools-user.js-tools-user
                    a(href="#" class="header__tools-link")
                        .tools-user-icon                     
                            +svg('user-icon', 'user', 'user')
                        span Name
                    .tools-user__drop
                        .tools-user__drop-group
                            a(href="#" class="tools-user__drop-group-link") Мой профиль
                            a(href="#" class="tools-user__drop-group-link") Мои заказы
                            a(href="#" class="tools-user__drop-group-link") Сообщения
                        .tools-user__drop-group
                            a(href="#" class="tools-user__drop-group-link") Настройки профиля
                            a(href="#" class="tools-user__drop-group-link") Мои работы
                        .tools-user__drop-group
                            a(href="#" class="tools-user__drop-group-link") Выйти
                .header__tools-item.tools-favorite
                    a(href="#" class="header__tools-link") 
                        +svg('favorite-icon', 'like', 'favorite')
                        span.header__tools-item-counter 0
                .header__tools-item.tools-cart
                    a(href="#" class="header__tools-link") 
                        +svg('cart-icon', 'cart', 'cart')
                        span.header__tools-item-counter 0
                .header__tools-item.tools-search.js-header-search
                    a(href="#" class="header__tools-link js-search-link") 
                        +svg('search-icon', 'search', 'search')
                    form.tools-search__form.js-search-form
                        .container 
                            .tools-search__form-field
                                input(type="text" class="tools-search__form-input" name="search" id="search" placeholder="Поиск...")
                                button(type="reset" class="tools-search__form-reset") 
                                    +svg('icon-close', 'X', 'close')                       
                                button(type="submit" class="tools-search__form-submit")
                                    +svg('search-icon', 'search', 'search')                       
                .header__tools-item.tools-lang
                    a(href="#" class="header__tools-link") RU         