.section-select {
    position: absolute;
    top: 0;
    right:   0;
    width: 100%;
    padding-top: 55px;
    @media (max-width: $tablet) { }
    &__inner {
        text-align: right;
    }
    
    &__text {
        display: inline-block;
        font-size: 14px;
        margin-right: 20px;
        line-height: 40px;
        vertical-align: middle;
    }
    &__input {
        display: inline-block;
        height: 40px;
        border: none;
        background: #fff;
    }
    .select2 {
        width: 282px !important;
        text-align: left;
        font-size: 15px; 
        
        @media (max-width: $mobile) {
            width: 50% !important;
        }
               
    }
    .select2-selection {
        border:none;
    }
    .select2-selection__rendered {
        line-height: 40px !important;
        padding-left: 16px !important;
        padding-right: 40px !important;
    }
    .select2-selection__arrow {
        height: 40px !important;
        width: 38px !important;
        top: 0 !important;
        right: 0 !important;
    }
    .select2-selection--single {
        height: 40px !important;
    }
    b {
        border-right: 2px solid #000 !important;
        border-bottom: 2px solid #000 !important;
        border-left: none !important;
        border-top: none !important;
        width: 6px !important;
        height: 6px !important;
        transform: rotate(45deg);
    }
    .select2-container--open .select2-selection--single .select2-selection__arrow b {
        transform: rotate(225deg);
    }
    
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #1e2026 !important;
        color: #fff;
}

.select2-search--dropdown {
    display: none;
}
.select2-dropdown {
    border:none;
    z-index: 999 !important;

}
