.section-select 
    .container 
        .section-select__inner 
            span.section-select__text Сортировать по
            select.section-select__input.js-select
                option(value="Дате добавления") Дате добавления
                option(value="Дате добавления") Дате добавления
                option(value="Дате добавления") Дате добавления