.section-styles 
    .container
        .section-styles__inner 
            .section-styles__carousel.js-styles-slider 
                .section-styles__item 
                    .section-styles__item-inner 
                        a(href="#" class="section-styles__item-content large")
                            span.section-styles__category Современное НЮ 
                            span.section-styles__title Новое изобразительное искусство
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение  Уорхолом
                            span.section-styles__title  Новый Поп Арт 
                        a(href="#" class="section-styles__item-content min") 
                            span.section-styles__category Вдохновение Гансом Хофманном
                            span.section-styles__title Новый абстрактный экспрессионизм
                .section-styles__item 
                    .section-styles__item-inner                      
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение  Уорхолом
                            span.section-styles__title  Новый Поп Арт
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение Гансом Хофманном
                            span.section-styles__title Новый абстрактный экспрессионизм
                        a(href="#" class="section-styles__item-content large")
                            span.section-styles__category Современное НЮ
                            span.section-styles__title Новое изобразительное искусство
                .section-styles__item  
                    .section-styles__item-inner
                        a(href="#" class="section-styles__item-content large")
                            span.section-styles__category Современное НЮ 
                            span.section-styles__title Новое изобразительное искусство
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение  Уорхолом 
                            span.section-styles__title Новый Поп Арт
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение Гансом Хофманном
                            span.section-styles__title Новый абстрактный экспрессионизм
                .section-styles__item 
                    .section-styles__item-inner                      
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение  Уорхолом 
                            span.section-styles__title Новый Поп Арт
                        a(href="#" class="section-styles__item-content min")
                            span.section-styles__category Вдохновение Гансом Хофманном
                            span.section-styles__title Новый абстрактный экспрессионизм
                        a(href="#" class="section-styles__item-content large")
                            span.section-styles__category  Современное НЮ
                            span.section-styles__title Новое изобразительное искусство
