include components/mixin-svg/mixin.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        link(rel="stylesheet" href="css/main.css")
    body 

         .wrapper.wrapper-invert.wrapper-catalog
            include components/header/header.pug
            include components/parallax/parallax.pug            
            .breadcrumbs.breadcrumbs-catalog
                .container 
                    .breadcrumbs__inner 
                        a(href="").breadcrumbs__back 
                            +svg('arrow-smart', 'smart', 'smart')
                            span.breadcrumbs__back-link Назад
            include components/catalog-filter/catalog-filter.pug
            include components/popular-filters/popular-filters.pug
            .section.catalog-works                                          
                include components/select/select.pug                
                -var galleryFix = false;
                -var galleryBtn = false;  
                include components/gallery/gallery.pug      
            include components/footer/footer.pug
    //- <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    //- <script> var rellax = new Rellax('.js-rellax'); </script>
    script(src="js/libs.min.js")
    script(src="js/common.js")
            
