include components/mixin-svg/mixin.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/main.css")
    body 

         .wrapper.wrapper-invert
            include components/header/header.pug            
            .breadcrumbs
                .container 
                    .breadcrumbs__inner 
                        a(href="").breadcrumbs__back 
                            +svg('arrow-smart', 'smart', 'smart')
                            span.breadcrumbs__back-link Назад
                        .breadcrumbs__group 
                            a(href="#").breadcrumbs__group-link Главная
                            a(href="#").breadcrumbs__group-link Каталог    
                            a(href="#").breadcrumbs__group-link Название картины
            include components/product-card-inner/product-card-inner.pug
            
            .section.section-color.product-catalog-gallery
                -
                    var head = {
                        title: "Похожие работы"
                    }; 

                include components/main-head/main-head.pug                
                .gallery 
                    .container
                        .gallery__inner.js-gallery-slider
                            .gallery__item
                                -
                                    var card = {
                                        image: "gallery-img-1.jpg",
                                        title: "Распоряжения о структуре тут длинное название картины ",
                                        author: "Екатерина Александровна Преображенская",
                                        size: "Картина,  80x60 см.",
                                        price: "927 750",
                                        priceold: "727 750",
                                    };
                                include components/gallery-card/gallery-card.pug
                            .gallery__item
                                -
                                    var card = {
                                        image: "gallery-img-2.jpg",
                                        title: "Абстракция, Опус J202",
                                        author: "Соколов Виталий",
                                        size: "Картина,  80x60 см.",
                                        price: "927 750",
                                        priceold: "727 750",
                                        shield: "Новинка",
                                        shieldNew: true
                                    };
                                include components/gallery-card/gallery-card.pug
                            .gallery__item
                                -
                                    var card = {
                                        image: "gallery-img-3.jpg",
                                        title: "Распоряжения о структуре тут длинное название картины ",
                                        author: "Екатерина Александровна Преображенская",
                                        size: "Картина,  80x60 см.",
                                        price: "927 750",
                                        priceold: "727 750",
                                        shield: "Новинка",
                                        shieldNew: true
                                    };
                                include components/gallery-card/gallery-card.pug
                            .gallery__item
                                -
                                    var card = {
                                        image: "gallery-img-4.jpg",
                                        title: "Распоряжения о структур",
                                        author: "Говард Херш",
                                        size: "Картина,  80x60 см.",
                                        price: "27 750"
                                    };
                                include components/gallery-card/gallery-card.pug
                            .gallery__item
                                -
                                    var card = {
                                        image: "gallery-img-5.jpg",
                                        title: "Абстракция, Опус J202",
                                        author: "Соколов Виталий",
                                        size: "Картина,  80x60 см.",
                                        price: "27 750",                        
                                    };
                                include components/gallery-card/gallery-card.pug      
            include components/footer/footer.pug
    //- <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    //- <script> var rellax = new Rellax('.js-rellax'); </script>
    script(src="js/libs.min.js")
    script(src="js/common.js")
            
