.main {
    padding-top: 240px;
    padding-bottom: 200px;
    background-image: url("../assets/images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    min-height: 800px;   
    @media (max-width: $tablet) { 
        padding-top: 140px;
        padding-bottom: 100px; 
        min-height: 600px;        
    }
    @media (max-width: $mobile) { 
        padding-top: 95px;
        padding-bottom: 130px;   
        min-height: 400px;   
        background-position: center top;   
    }
    &__content {
        margin-bottom: 40px;
        max-width: 550px;
        @media (max-width: $mobile) { 
            margin-bottom: 10px;
            max-width: 300px;

        }
    }
    &__text-optional {
        font-size: 18px;
        line-height: 42px;
        background: rgba(0,0,0,0.8);
        color: #fff;
        padding: 5px 20px 5px 10px;
        @media (max-width: $mobile) { 
            font-size: 14px;
            line-height: 33px;
        }
    }
    &__title-wrapper {
        margin-bottom: 7px;
    }
    &__title {
        display: inline;
        box-decoration-break: clone;
        font-size: 49px;
        line-height: 63px;
        font-weight: 300;
        color:#fff;
        background: rgba(0,0,0,0.8);
        padding: 0 10px 5px 10px;
        @media (max-width: $tablet) {
            // padding: 0 10px 4px 10px;
        }
        @media (max-width: $mobile) { 
            display: inline-block;
            box-decoration-break: slice;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            padding: 0 5px 5px 10px;
        }
    }
    &__text {
        font-size: 22px;
        line-height: 31px;
        color:#fff;
        background: rgba(0,0,0,0.8);
        max-width: 343px;
        padding: 5px 20px 5px 10px;
        @media (max-width: $mobile) { 
            font-size: 16px;
            line-height: 22px;
            max-width: 260px;
        }
    }
    &__btn {
        background: rgba(0,0,0,0.5);
        border: 1px solid rgba(255, 255, 255, 0.8);
        line-height: 54px;
        padding: 0 73px;
        font-size: 17px;
        color: #fff;
        display: inline-block;
        @media (max-width: $mobile) {
            line-height: 43px;
            padding: 0 55px;
            font-size: 14px;
        }
        &:hover {
            background: rgba(0,0,0,0.7);
        }
    }
    
}
.main-carousel {

    .slick-dots {
        text-align: center;
        padding: 0;
        line-height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        @media (max-width: $tablet) {
            bottom: 48px;
        }
        @media (max-width: $mobile) {
            bottom: 35px;
        }
    }
    .slick-dots li {
        display: inline-block;
        margin: 0 20px;
    }
    .slick-dots button {
        display: block;
        border: none;
        box-shadow: none;
        background: none;
        width: 12px;
        height: 12px;
        font-size: 0;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        padding: 0;
    }    
    .slick-dots .slick-active button {
        background:#fff;
        box-shadow: none;
    }
}