
.main-carousel.js-carousel-main 
    .main
        .container 
            .main__inner
                .main__content 
                    span.main__text-optional Новое на этой неделе
                    .main__title-wrapper
                        h1.main__title Лучшие фигуративные произведения
                    p.main__text Новые оригинальные работы, выбранные нашим эспертом
                .main__button 
                    a(href="#").main__btn Открыть
    .main
        .container 
            .main__inner
                .main__content 
                    span.main__text-optional Новое на этой неделе
                    .main__title-wrapper
                        h1.main__title Лучшие фигуративные произведения
                    p.main__text Новые оригинальные работы, выбранные нашим эспертом
                .main__button 
                    a(href="#").main__btn Открыть
    .main
        .container 
            .main__inner
                .main__content 
                    span.main__text-optional Новое на этой неделе
                    .main__title-wrapper
                        h1.main__title Лучшие фигуративные произведения
                    p.main__text Новые оригинальные работы, выбранные нашим эспертом
                .main__button 
                    a(href="#").main__btn Открыть