footer.footer 
    .container 
        .footer__inner 
            .footer__top 
                .footer__top-inner
                    .footer__top-item
                        span.footer__top-title Об Company
                        a(href="#").footer__top-text О проекте
                        a(href="#").footer__top-text Блог
                        a(href="#").footer__top-text Авторы
                    .footer__top-item
                        span.footer__top-title Покупателям
                        a(href="#").footer__top-text Доставка
                        a(href="#").footer__top-text Оплата
                        a(href="#").footer__top-text Возврат
                    .footer__top-item
                        span.footer__top-title Каталог
                        a(href="#").footer__top-text Картины
                        a(href="#").footer__top-text Коллажи
                        a(href="#").footer__top-text Иллюстрации
                    .footer__top-item-mobile-social 
                        a(href="#").footer__top-item-mobile-social-link
                            img(src="assets/images/vk-icon-footer.png", alt="").footer__top-item-mobile-social-img
                        a(href="#").footer__top-item-mobile-social-link
                            img(src="assets/images/fb-icon-footer.png", alt="").footer__top-item-mobile-social-img
                        a(href="#").footer__top-item-mobile-social-link
                            img(src="assets/images/ok-icon-footer.png", alt="").footer__top-item-mobile-social-img
                        a(href="#").footer__top-item-mobile-social-link
                            img(src="assets/images/ig-icon-footer.svg", alt="").footer__top-item-mobile-social-img
                    .footer__top-item
                        span.footer__top-title Контакты
                        a(href="tel:899912312344").footer__top-tel + 7 (999) 123-123-44
                        a(href="mailto:info@domainname.ru").footer__top-mail info@domainname.ru
                        span.footer__top-adress г. Город,Улица.,  12
                    .footer__top-item
                        .footer__social 
                            span.footer__top-title Мы в социальных сетях: 
                            .footer__social-inner
                                a(href="#").footer__top-item-mobile-social-link
                                    img(src="assets/images/vk-icon-footer.png", alt="").footer__top-item-mobile-social-img
                                a(href="#").footer__top-item-mobile-social-link
                                    img(src="assets/images/fb-icon-footer.png", alt="").footer__top-item-mobile-social-img
                                a(href="#").footer__top-item-mobile-social-link
                                    img(src="assets/images/ok-icon-footer.png", alt="").footer__top-item-mobile-social-img
                                a(href="#").footer__top-item-mobile-social-link
                                    img(src="assets/images/ig-icon-footer.svg", alt="").footer__top-item-mobile-social-img
                        .footer__pay
                            span.footer__top-title Платёжные системы
                            .footer__pay-inner
                                img(src="assets/images/visa-pay-footer.png", alt="").footer__pay-img
                                img(src="assets/images/mastercard-pay-footer.png", alt="").footer__pay-img
                                img(src="assets/images/qiwi-pay-footer.png", alt="").footer__pay-img
                                img(src="assets/images/webmoney-pay-footer.png", alt="").footer__pay-img
                                img(src="assets/images/yandexmoney-pay-footer.png", alt="").footer__pay-img
    .footer__bottom
        .container 
            .footer__bottom-inner
                .footer__bottom-group
                    a(href="#").footer__bottom-group-link Политика конфендициальности
                    a(href="#").footer__bottom-group-link Условия и положения  
                span.footer__bottom-copyright ©  Company, 2018
                a(href="#").footer__bottom-logo
                    a(href="").footer__bottom-logo-text Cайт создан <span>Company</span> 

