.footer  {    
    background: #1e2026;
    color: #fff;
    &__top {
        padding: 90px 0 70px;
        @media (max-width: $tablet) {
            padding: 40px 0 30px;
        }
        @media (max-width: $mobile) {
            padding: 30px 0 20px;
        }
    }
    &__bottom {
        background: #191b1f;
        padding: 30px 0 20px;
        @media (max-width: $tablet) {
            padding: 15px 0 10px;
        }
        @media (max-width: $mobile) {
            padding: 0 0 20px;
            background: #1e2026;
        }
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width: $mobile) { 
            display: block;
        }
    }
    &__top-item:not(:last-child) {
        margin-right: 10px;
    }
    &__top-item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            @media (max-width: $tablet) {
                display: none;
            }            
        }
    }
    &__top-title {
        display: block;
        font-size: 18px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;
        position: relative;
        @media (max-width: $mobile) { 
            display: none;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            background: #fff;
            bottom: 0;
            left:  10px;
        }
    }
    &__top-text {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        transition: 0.3s;
        &:hover {
            background: #009999;
        }
    }
    &__top-item-mobile-social {
        display: none;
        @media (max-width: $mobile) {
            display: block;
            text-align: center;
        }
    }
    &__top-tel {
        font-size: 21px;
        display: block;
        padding-left: 40px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 10px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 17px;
            height: 22px;
            left: 10px;
            bottom: 10px;
            background-image: url("../assets/images/tel-icon-footer.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }
    &__top-mail {
        display: block;
        padding-left: 45px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 10px;
        color: #ccc;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 22px;
            height: 17px;
            left: 10px;
            bottom: 10px;
            background-image: url("../assets/images/mail-icon-footer.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }
    &__top-adress {
        display: block;
        padding-left: 45px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        max-width: 250px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 19px;
            height: 26px;
            left: 10px;
            top: 10px;
            background-image: url("../assets/images/map-icon-footer.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }
    &__social-inner {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 -5px;
        @media (max-width: $mobile) { 
            display: none;
        }
    }
    &__top-item-mobile-social {
        @media (max-width: $mobile) { 
            margin-bottom: 30px;
        }
    }
    &__top-item-mobile-social-link {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 44px;
        margin: 0 5px;
        border-radius: 50%;
        border: 1px solid #ccc;
        transition: 0.3s;
        &:hover {
            background: #ccc;
            .footer__top-item-mobile-social-img {
                filter: invert(100%);
            }
        }
    }
    &__top-item-mobile-social-img {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__social {
        margin-bottom: 35px;
    }
    &__pay-inner {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin: 0 -5px;
    }
    
    &__pay-img {
        margin: 0 5px;
        @media (max-width: $mobile) {
            height:  30px;
        }
    }
    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: #ccc;
        font-size: 14px;
        padding: 0 10px;
        @media (max-width: $mobile) { 
            flex-direction: column;
            text-align: center;
            margin: 0 -20px;
        }
    }
    &__bottom-group {
        @media (max-width: $mobile) {
            order: 1;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    &__bottom-copyright {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        @media (max-width: $mobile) {
            position: static;
            top: auto;
            right: auto;
            transform: none;
            order: 0;
            display: block;
            width: 100%;
            line-height: 44px;
            background: #191b1f;
        }        
    }
    
    &__bottom-group-link {
        &:not(:last-child) {
        margin-right: 40px;
        }
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: $tablet) {
            display: block;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        @media (max-width: $mobile) {
            margin-right: 0 !important;
        }
    }
    &__bottom-logo {
        img {
            width: 100px;
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &-text {
            color: #999;
            span {
                text-decoration: underline;
            }
            @media (max-width: $mobile) {
                display: block;
                order: 1;
            }
        }
    }

}