.gallery.js-gallery 
    .container
        .gallery__inner.js-gallery-masonry.js-gallery-inner
            if(galleryFix !== false) 
                .gallery__fix.js-gallery-stamp
                    .gallery__fix-inner 
                        span.gallery__fix-text Умный выбор по параметрам с примерами
                        a(href="#" class="gallery__fix-link") Подобрать
            .gallery__gutter.js-gallery-gutter
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-1.jpg",
                        title: "Распоряжения о структуре тут длинное название картины ",
                        author: "Екатерина Александровна Преображенская",
                        size: "Картина,  80x60 см.",
                        price: "927 750",
                        priceold: "727 750",
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-2.jpg",
                        title: "Абстракция, Опус J202",
                        author: "Соколов Виталий",
                        size: "Картина,  80x60 см.",
                        price: "927 750",
                        priceold: "727 750",
                        shield: "Новинка",
                        shieldNew: true
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item.gallery__item--fix-tablet
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-3.jpg",
                        title: "Распоряжения о структуре тут длинное название картины ",
                        author: "Екатерина Александровна Преображенская",
                        size: "Картина,  80x60 см.",
                        price: "927 750",
                        priceold: "727 750",
                        shield: "Новинка",
                        shieldNew: true
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-4.jpg",
                        title: "Распоряжения о структур",
                        author: "Говард Херш",
                        size: "Картина,  80x60 см.",
                        price: "27 750"
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-5.jpg",
                        title: "Абстракция, Опус J202",
                        author: "Соколов Виталий",
                        size: "Картина,  80x60 см.",
                        price: "27 750",                        
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-6.jpg",
                        title: "Распоряжения о структуре тут длинное название картины ",
                        author: "Екатерина Александровна Преображенская",
                        size: "Картина,  80x60 см.",
                        price: "927 750",
                        priceold: "727 750",
                        shield: "Скидка 20%",
                        shieldDiscount: true
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-7.jpg",
                        title: "Растущее действие",
                        author: "Рамина Роуз ",
                        size: "Картина,  80x60 см.",
                        price: "27 750",
                        shield: "Скидка 20%",
                        shieldDiscount: true
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-8.jpg",
                        title: "Абстракция, Опус J202",
                        author: "Соколов Виталий",
                        size: "Картина,  80x60 см.",
                        price: "27 750",                        
                    };
                include ../gallery-card/gallery-card.pug
            .gallery__item
                -
                    var card = {
                        image: "gallery-img-9.jpg",
                        title: "Абстракция, Опус J202",
                        author: "Соколов Виталий",
                        size: "Картина,  80x60 см.",
                        price: "27 750",                        
                    };
                include ../gallery-card/gallery-card.pug
        .gallery__btn
            if(galleryBtn !== false)  
                a(href="#" class="gallery__button js-gallery-btn" data-btn="upload") Смотреть все
            else 
                a(href="#" class="gallery__button js-gallery-btn" data-btn="upload") Показать ещё