.section-popular-filters
    .container 
        .section-popular-filters__inner 
            .section-popular-filters__title
                h2.section-popular-filters__title-text Популярные фильтры
            .section-popular-filters__carousel-wrapper.js-popular-filters-slider
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter1.jpg')")
                    span.section-popular-filters__carousel-item-inner Барроко 
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter2.jpg')")
                    span.section-popular-filters__carousel-item-inner Живопись
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter3.jpg')")
                    span.section-popular-filters__carousel-item-inner Пейзаж 
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter4.jpg')")
                    span.section-popular-filters__carousel-item-inner Поп-арт
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter5.jpg')")
                    span.section-popular-filters__carousel-item-inner Поп-арт   
                a.section-popular-filters__carousel-item(href="#" style="background-image:url('../assets/images/catalog-filter5.jpg')")
                    span.section-popular-filters__carousel-item-inner Поп-арт                