.section-parallax
    .container
        .section-parallax-inner
            h1.section-parallax__title Каталог картин
            .section-parallax__img
                img(src="assets/images/catalog-main.jpg", alt="").section-parallax__image.js-rellax