.section-product-card {
    padding: 45px 0 70px;
    @media (max-width: $tablet) {
        padding: 30px 0;
    }
    &__inner  {
        display: flex;
        @media (max-width: $mobile) {
            display: block;
        }
    }
    &__pictures {
        flex-shrink: 0;
        width: 640px;
        @media (max-width: $tablet) {
            width: 365px;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &__text-mobile {
        display: none;
        @media (max-width: $mobile) {
            display: block;
            text-align: center;
        }
    }
    &__text-mobile-title {
        color: #2e3237;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        font-weight: normal;
    }
    &__text-mobile-author {
        display: block;
        line-height: 30px;
        color: #333;
        margin-bottom: 25px;
        text-decoration: underline;
    }
    &__images  {
        flex-shrink: 0;
        position: relative;
        margin-bottom: 20px;
        @media (max-width: $tablet) {
            margin-bottom: 10px;
        }
        @media (max-width: $mobile) {
            margin-bottom: 20px;
        }
    }
    &__images-big,
    &__images-big-item {
        width: 550px;
        @media (max-width: $tablet) {
            width: 310px;
         }
         @media (max-width: $mobile) {
            width: 100%;
         }
    }
    &__images-big {
        margin-left: 90px;
        // position: relative;
        @media (max-width: $tablet) {
            margin-left: 55px;
        }
        @media (max-width: $mobile) {
            margin-left: 0;
            margin-bottom: 15px;
        }
    }
    &__images-small {
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: $mobile) {
            position: relative;
            top: auto;
            left: auto;
        }
    }
    
    &__images-small,
    &__images-small-item  {
        width: 80px ;
        height: 80px;
        @media (max-width: $tablet) {
            width: 46px ;
            height: 46px;
         }
         @media (max-width: $mobile) {
            width: auto ;
            height: auto;
         }
    }
    &__images-small {
        height: auto;
        .slick-track {
            transform: none !important;
        }
        .slick-current.section-product-card__images-small-item::before {            
            
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid #000;       
        
        }
        .slick-list {
            
            @media (max-width: $mobile) {
                margin: 0 -7px;
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &__images-small-item,
    &__images-big-item {
        margin-bottom: 10px;
        @media (max-width: $tablet) {
            margin-bottom: 15px;
        }
        @media (max-width: $mobile) {
            margin: 0;
        }
    }
    &__images-small-item{
        position: relative;
        margin-bottom: 0;
        margin:  0 7px;  
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0px 0px;
        cursor: pointer;   
        &::after{
            content: '';
            // position: absolute;
            display: block;
            width: 100%;
            padding-top: 100%;
            background-image: inherit;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            // top: 0;
            // bottom: 0;
            // left: 0;
            // right: 0;
        }
        
        
       
        @media (min-width: $mobile) {
            width: 46px !important;
            height: 46px !important;
            margin: 0;
            margin-bottom: 15px;
        }
        @media (min-width: $tablet) {
            // width: auto ;
            
            // width: auto !important;
            // height: auto !important;
            width: 80px !important;
            height: 80px !important;
            margin-bottom: 10px;
            
        }
    }
    
    &__images-big-item-img,
    &__images-small-item-img {
        width: 100%;
    }
    &__images-small-item-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        // @media (max-width: $mobile) {
        //     width: 100%;
        // }
    }
    .slick-arrow {
        width: 35px;
        height: 10px;
        position: absolute;
        bottom: 43px;
        right: 35px;
        background:none;
        border: none; 
        font-size: 0;
        z-index: 1;
        cursor: pointer;
        @media (max-width: $tablet) {
            bottom: 35px;
            right: 23px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url('../assets/images/arrow-smart.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;           
            
        }
        &:hover{
            &::before{
                filter: invert(100%);
            }
        }
        
    }
    .slick-prev {
        right: 100px;        
        width: 35px;
        height: 10px;
        transform: rotate(180deg);
        z-index: 1;
        @media (max-width: $tablet) {
            bottom: 35px;
            right: auto;
            left: 23px;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url('../assets/images/arrow-smart.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            transform: rotate(360deg);   
                      
        }
        
    }
    &__imags-zoom {
        position: absolute;
        width: 26px;
        height: 26px;
        right:  20px;
        top: 20px;
        @media (max-width: $tablet) {
            right: 15px;
            top: 15px;
        }
        top: 20px;
        @media (max-width: $mobile) {
            display: none;
        }
        .zoom {
            width: 100%;
            height: 100%;
            fill: #fff;
            transition: 0.2s ease 0s;
            cursor: pointer;
            &:hover {
                fill: #000;
            }
            
        }
    }
    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 15px;
        color: #2e3237;
        margin-left: 90px;
        @media (max-width: $tablet) {
            font-size: 14px;
            margin-left: 55px;
        }
        @media (max-width: $mobile) {
            display: none;
        }
        & .like-card {
            width: 24px;
            height: 23px;
            margin-right: 15px;
            flex-shrink: 0;
        }
        & .download-card {
            width: 21px;
            height: 21px;
            margin-right: 15px;
            flex-shrink: 0;
        }
        & .view-card {
            width: 27px;
            height: 17px;
            fill: #000;
            flex-shrink: 0;
            margin-right: 10px;            
        }
    }
    &__link  {
        display: flex;
        align-items: center;
        max-width: 50%;
        margin-bottom: 50px;
        &:last-child {
            max-width: 70%;
        }
        @media (max-width: $tablet) {
            margin-bottom: 40px;
        }
        &:hover {
            color: #009999;
            svg {
                fill:#009999;
            }
        }
    }
    

    &__content {
        width: 100%;
        padding-left: 40px;
        @media (max-width: $tablet) {
            padding-left: 25px;
        }
        @media (max-width: $mobile) {
            padding-left: 0px;
        }
        &-title {
            &-text{
                font-size: 30px;
                font-weight: normal;
                line-height: 32px;
                color: #2e3237;
                letter-spacing: 0.75px;
                margin-bottom: 20px;
                @media (max-width: $tablet) {
                    font-size: 24px;
                    line-height: 27px;
                    margin-bottom: 10px;
                }
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }
    &__content-code {
        margin-bottom: 20px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile) {
            display: none;
        }
        &-info {
            color: #999;
        }
        &-icon {
            display: flex;
            align-items: center;
            color: #2e3237;
            .favorite {
                width: 22px;
                height: 20px;
                fill: none;
                stroke: #2e3237;
                stroke-width: 2px;
                flex-shrink: 0;
                margin-right: 10px;
            }
            &:hover {
                color: #009999;
                .favorite{                    
                    stroke:#009999;
                }
            }
            &.is-active {
                .favorite {
                    fill: #009999;
                    stroke:#009999;
                }
            }
        }
    }

    &__content-author {
        color: #333;
        font-size: 17px;
        margin-bottom: 20px;
        text-decoration: underline;
        &:hover {
            color: #009999;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__content-info {
        font-size: 15px;
        color: #666;
        margin-bottom: 25px;
        @media (max-width: $tablet) {
            margin-bottom: 15px;
        }
        &-size {
            margin-right: 35px;
            @media (max-width: $tablet) {
                display: block;
                margin-bottom: 10px;
            }
            span {
                color: #333;
            }
        }
        &-style {
            a {
                color: #333;
                text-decoration: underline; 
            }
            &:hover {
                a {
                    color:#009999;
                }
            }
        }
    }

    &__content-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        &-item-text {
            display: block;
            font-size: 30px;
            color:#2e3237;
            margin-bottom: 15px;
            @media (max-width: $mobile) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        .rub {
            font-size: 30px;
            @media (max-width: $mobile) {
                font-size: 24px;
            }
        }
        &-item-old {
            display: block;
            font-size: 19px;
            color:#666;
            text-decoration: line-through;
            margin-bottom: 5px;
            @media (max-width: $mobile) {
                font-size: 16px;
            }
        }
        &-btn {
            display: inline-block;
            position: relative;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            background: #009999;
            text-transform: uppercase;
            line-height: 60px;
            padding: 0 90px;
            transition: 0.2s ease 0s;
            z-index: 1;
            @media (max-width: $tablet) {
                padding: 0 40px;
            }
            @media (max-width: $mobile) {
                padding: 0 30px;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #009999;
                border: 1px solid rgba($color: #fff, $alpha: 0.6);
                margin:  3px;
                transition: 0.2s ease 0s;
                
            }
            &:hover {
                background: #63c1c1;
                &::before {
                    background: #26a9a9;
                }
            }
            .btn-text {
                z-index: 2;
                position: relative;
                span {
                    @media (max-width: $tablet) {
                        display: none;
                    }
                }
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 -4px;
        margin-bottom: 20px;
        @media (max-width: $mobile) {
            justify-content: space-around;
        }
        &-link {
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin: 0 4px;
            transition: 0.2s ease 0s;
            .icon {
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                fill: #666;
                transition: 0.2s ease 0s;
            }
            &:hover {
                background: #333;
                .icon {
                    fill: #fff;
                }
            }
           
        }
    }

    &__icons-mobile {
        display: none;
        @media (max-width: $mobile) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2px;
            margin-bottom: 10px;
        }
        &-link  {
            display: flex;            
            justify-content: center;
            align-items:center;
            width: calc(50% - 4px);
            margin: 0 2px;
            margin-bottom: 5px;
            line-height: 30px;
            border: 1px solid #ccc;
            color: #2e3237;
            font-size: 13px;
            transition: 0.2s ease 0s;
            .icon {
                fill: #2e3237;
                width: 20px;
                height: 19px;
                margin-right: 5px;
                transition: 0.2s ease 0s;
            }
            .favorite {
                fill: none;
                stroke: #2e3237;
                stroke-width: 2px;
            }
            &:hover {
                color: #009999;
                border: 1px solid #2e3237;
                .icon {
                    fill: #009999;
                }
                .favorite {
                    stroke: #009999;
                    fill: none;
                }
            }
            &.is-active {
                .favorite {
                    stroke: #009999;
                    fill: #009999;
                }
            }
        }
    }

    &__accordion {
        border-bottom: 1px solid #ccc;
    }
    &__accordion-title {
        font-size: 18px;
        color: #333;
        padding: 10px 0;
        display: block;
        position: relative;
        border-top: 1px solid #ccc;
        cursor: pointer;
        transition: 0.2s ease 0s;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-width: 2px 2px 0 0;
            border-color: #333;
            border-style: solid;
            right: 10px;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
            transition: 0.2s ease 0s;
        }
        &.is-active {
            &::before {
                transform: translateY(-50%) rotate(-45deg);                
            }
        }
    }
    &__accordion-description {
        // max-height: 0;
        // visibility: hidden;
        overflow: hidden;
        height: 0;
        padding:0;
        transition:  0.2s ease-in-out;
        
        &-text {
            font-size: 15px;
            color: #2e3237;
            line-height: 27px;
            @media (max-width: $mobile) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        &.is-active {
            // max-height: 100%;
            // visibility: visible;
            height: 100%;
            padding: 20px 0 15px 0;
            @media (max-width: $mobile) {
                padding: 20px 0;
            }
        }
    }
    &__accordion-parameters {
        // max-height: 0;
        // visibility: hidden;
        overflow: hidden;
        height: 0;
        transition: 0.2s ease-in-out;
        font-size: 15px;
        color: #2e3237;
        padding: 0;
        @media (max-width: $mobile) {
            
            font-size: 14px;
        }
        &-item {
            &:nth-child(odd) {
                background: #f7f7f7;
            }
            display: flex;
            flex-wrap: wrap;
            line-height: 34px;
            padding-left: 10px;
            @media (max-width: $tablet) {
                justify-content: space-between;
            }
            @media (max-width: $mobile) {
                line-height: 30px;
                margin: 0 -10px;
                padding: 0 10px;
            }
            
            &-title {
                // width: 30%;
                flex: 0.7;
                @media (max-width: $tablet) {
                    width: auto;        
                }
            }
            &-text {
                flex: 1;
            }
        }
        &.is-active {
            // max-height: 100%;
            // visibility: visible;
            height: 100%;
            padding: 10px 0;
            @media (max-width: $mobile) {
                padding: 15px 0;
            }
        }
    }
    
   
}