.popup-form {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.7);
    padding: 20px ;
    display: none;
    @media (max-width: $mobile) {
        padding: 0 10px;
    }
    &.is-active {
        display: flex;
    }
    &__container {
        background: #fff;
        padding: 55px 45px;
        position: relative;
        @media (max-width: $mobile) {
            padding: 40px 15px;            
            width: 531px;
            max-width: calc(100% -20px);
            
        }
    }
    &__btn {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url('../assets/images/close-popup.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        @media (max-width: $mobile) {
            width: 15px;
            height: 15px;
            top: 15px;
            right: 15px;
        }
    }
    &__authorization-wrapper,
    &__registration-wrapper,
    &__resetpassword-wrapper,
    &__success-wrapper {
        display: none;
        .error {
            color: red;
        }
        input.error {
            border-color: red;
        }
        label .error:last-child {
            font-size: 12px;
        }
        svg {
            width: 20px;
            height: 20px;
            &#fb {
                width: 10px;
                height: 17px;
            }
        }
        &.is-active {
            display: block;
        }
    }
    &__authorization-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            left: 0;
            bottom: -1px;
            background: #000;
        }
        @media (max-width: $mobile) {
            text-align: center;
            display: block;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-title {
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            @media (max-width: $mobile) {
                font-size: 22px;
                text-align: center;
            }
        }
        &-group {
            font-size: 14px;
            color: #666; 
            @media (max-width: $tablet) {
                font-size: 12px;
            }
            @media (max-width: $mobile) {
                display: none;
            }           
        }
        &-text {
            margin-right: 20px;
            &.text-top {
                display: block;
                color: #666;
                @media (max-width: $tablet) {
                    font-size: 12px;
                }
                @media (max-width: $mobile) {
                    margin-right: 0;
                }
            }
        }
        &-link {
            padding-bottom: 2px;
            border-bottom: 2px dotted #2e3237;
        }
    }
    &__registration-wrapper {
        .popup-form__authorization-head {
            align-items: flex-end;
            margin-bottom: 20px;
            .popup-form__authorization-head-group {
                @media (max-width: $mobile) {
                    display: block;
                    margin-top: 10px;
                }
                .popup-form__authorization-head-text {
                    @media (max-width: $mobile) {
                        margin-right: 5px;
                    }
                }
            }
        }
        .popup-form__authorization-head-title {
            margin-bottom: 5px;
        }
        .label-name {
            display: block;
            width: calc(50% - 5px);
            margin: 0 5px;
            @media (max-width: $mobile) {
                width: 100%;
                margin: 15px 0;
            }
        }
        .main-text {
            @media (max-width: $mobile) {
                display: none;
            }
        }
        .popup-form__authorization-main-inputs-group{
            display: flex;
            justify-content: space-between;
            margin: 0 -5px;
            margin-bottom: 15px;
            @media (max-width: $mobile) {
                display: block;
                margin: 0;
            }
            .popup-form__authorization-main-inputs-input {
                @media (max-width: $mobile) {
                    height: 30px;
                }
            }
        }
        .popup-form__authorization-main-inputs-input-checkbox{
            position: absolute;
            top: -9999px;
            left: -9999px;
            visibility: hidden;
            &:checked {
                &+ .popup-form__authorization-main-inputs-text-checkbox::after {
                    opacity: 1;                        
                }
            }
        }
        .label-checkbox {
            padding-left: 26px;
        }
        .popup-form__authorization-main-inputs-text-checkbox {
            font-size: 12px;
            color: #666;
            position: relative;
            a {
                border-bottom: 2px dotted #2e3237;
                padding-bottom: 2px;
            }
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 16px;
                height: 16px;
                top: 0px;
                left: -26px;
                border: 2px solid #009999;
                cursor: pointer;
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 14px;
                height: 8px;
                top: 0;
                transform: rotate(135deg);
                left: -20px;
                opacity: 0;
                border-style: solid;
                border-width: 2px 2px 0 0;
                border-color: #009999;
                cursor: pointer;
            }
        }
        .label-password {
            margin-bottom: 15px;
        }
        
        .popup-form__authorization-radio-inputs-label {
            position: relative;
            overflow: hidden;
            display: inline-block;
            padding: 2px 0;
            .input-radio {
                position: absolute;
                top: -9999px;
                left: -9999px;
                visibility: hidden;
                &:checked {
                    &+ .popup-form__authorization-radio-inputs-text::after {
                        opacity: 1;                        
                    }
                }
            }
            &:last-child {
                .popup-form__authorization-radio-inputs-text {
                    margin-right: 0;
                }
            }
            .popup-form__authorization-radio-inputs-text{
                position: relative;
                padding-left: 26px;
                font-size: 14px;
                font-weight: 600;
                margin-right: 15px;
                
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 16px;
                    height: 16px;
                    top: 0px;
                    left: 0px;
                    border-radius: 50%;
                    border: 2px solid #009999;
                    cursor: pointer;
                }
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 6px;
                    height: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    border-radius: 100%;
                    background: #009999;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
    }

    &__resetpassword-wrapper {
        .popup-form__authorization-head {
            text-align: center;
            display: block;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .popup-form__authorization-main {
            padding-left: 0;
            width: 440px;
            position: relative;
            @media (max-width: $mobile) {
                width: 100%;
            }
        }
        .input-email {
            padding: 0 15px;
            
            &::placeholder {
                font-size: 17px;
                color: #2e3237;
                @media (max-width: $mobile) {
                    font-size: 14px;
                }
            }
        }
        .label-reset {
            display: block;
            margin-bottom: 40px;
            @media (max-width: $mobile) {
                margin-bottom: 20px;
            }
        }
        .popup-form__authorization-head-group-item {
            text-align: center;
            font-size: 14px;
            color: #666;
            @media (max-width: $mobile) {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
            }
        }
    }
    &__success-wrapper {
        width: 440px;
        @media (max-width: $mobile) {
            width: 100%;
        }
        .popup-form__authorization-head {
            text-align: center;
            display: block;            
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .popup-form__authorization-main {
            text-align: center;
            position: relative;
            padding-left: 0;
            width:100%;
            margin-bottom: 0;
            .main-text {
                line-height: 18px;
                margin-bottom: 45px;
                display: block;
                @media (max-width: $mobile) {
                    margin-bottom: 25px;
                }
            }
            @media (max-width: $mobile) {
                width: 100%;
            }
            img {
                max-width: 134px;
                @media (max-width: $mobile) {
                    max-width: 90px;
                }
            }
        }
    }

    &__authorization-radio {
        text-align: center;
        padding-bottom: 17px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        @media (max-width: $mobile) {
            padding: 0;
            margin-bottom: 10px;
            border: none;
        }
    }
    &__authorization-inner {
        display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: $mobile) {
                display: block;
            }
    }
    &__authorization-social {
        font-size: 18px;
        color:#2e3237;
        padding-right: 45px;
        border-right: 1px solid #ccc;
        @media (max-width: $tablet) {
            padding-right: 30px;
        }
        @media (max-width: $mobile) {
            padding: 0;
            border-right: 0;
            border-top: 1px solid #ccc;
            padding-top: 30px;
            font-size: 14px;
            text-align: center;
        }
        &-text {
            display: inline-block;
            font-size: 17px;
            margin-bottom: 10px;
            @media (max-width: $mobile) {
                font-size: 14px;
                
            }
        }
        &-group {
            @media (max-width: $mobile) {
                padding: 0 20px;
                text-align: left;                
            }
        }
        &-group-link {
            display: block;
            position: relative;
            line-height: 40px;
            display: flex;
            align-items:center;
            justify-content: space-around;
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-bottom: 15px;
            transition: 0.2s ease 0s;
            @media (max-width: $mobile) {
                line-height: 30px;
            }
            &-text {
                flex: 0.7;
            }
            svg {
                flex: 0.3;
                transition: 0.2s ease 0s;
            }
            &:hover {
                background: #2e3237;
                color: #fff;
                svg {
                    fill: #fff;
                }
            }

        }
        
    }
    &__authorization-main {
        order: 1;
        padding-left: 45px;
        font-size: 17px;
        color: #2e3237;
        width: 470px;
        @media (max-width: $tablet) {
            width: 330px;
            padding-left: 30px;
        }
        @media (max-width: $mobile) {
            width: 100%;
            padding: 0;
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    &__authorization-main-inputs-label {
        display: block;
        margin-bottom: 30px;
        @media (max-width: $mobile) {
            margin-bottom: 15px;
        }
    }
    &__authorization-main-inputs-text {
        display: block;
        margin-bottom: 5px;
    }
    &__authorization-main-inputs-input {
        display: block;
        height: 40px;
        border: 1px solid #ccc;
        width: 100%;
        @media (max-width: $mobile) {
            height: 30px;
        }
    }
    &__authorization-main-btn {
        display: block;
        width: 100%;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background: #009999;
        text-transform: uppercase;
        line-height: 60px;
        cursor: pointer;
        margin: 10px 0;
        // padding: 0 90px;
        transition: 0.2s ease 0s;
        z-index: 1;
        // @media (max-width: $tablet) {
        //     padding: 0 40px;
        // }
        // @media (max-width: $mobile) {
        //     padding: 0 30px;
        // }
        @media (max-width: $mobile) {
            font-size: 12px;
            line-height: 30px;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #009999;
            border: 1px solid rgba($color: #fff, $alpha: 0.6);
            margin:  3px;
            transition: 0.2s ease 0s;            
        }
        &:hover {
            background: #63c1c1;
            &::before {
                background: #26a9a9;
            }
        }
        .btn-text {
            z-index: 2;
            position: relative;
            
        }
    }
    &__authorization-main-group {
        text-align: center;
        font-size: 14px;
        color: #666;
        @media (max-width: $mobile) {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: left;
            
        }
        &-link:first-child {
            display: none; 
            margin-right: 0;
            margin-right: 5px;
            @media (max-width: $mobile) {
                display: inline-block;
            }           
        }
        &-link {
            padding-bottom: 2px;
            border-bottom: 2px dotted #2e3237;
            
        }
        &-text {
            margin-right: 20px;
            @media (max-width: $mobile) {
                display: none;
            } 
        }
    }
}